<div class="container">
  <form [formGroup]="contactFormGroup" (validSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome" class="control-label">Nome</label>
      <input
        type="text"
        class="form-control"
        formControlName="nome"
        id="nome"
      />
    </div>
    <div class="form-group">
      <label for="cpf" class="control-label">CPF</label>
      <input
        type="text"
        class="form-control"
        mask="000.000.000-00"
        formControlName="cpf"
        id="cpf"
      />
    </div>
    <div class="form-group">
      <label for="cep" class="control-label">CEP</label>
      <input
        type="text"
        class="form-control"
        mask="00.000-000"
        formControlName="cep"
        id="cep"
      />
    </div>
    <div class="form-group">
      <label for="logradouro" class="control-label">Logradouro</label>
      <input
        type="text"
        class="form-control"
        formControlName="logradouro"
        id="logradouro"
      />
    </div>
    <div class="form-group">
      <label for="bairro" class="control-label">Bairro</label>
      <input
        type="text"
        class="form-control"
        formControlName="bairro"
        id="bairro"
      />
    </div>
    <div class="form-group">
      <label for="localidade" class="control-label">Localidade</label>
      <input
        type="text"
        class="form-control"
        formControlName="localidade"
        id="localidade"
      />
    </div>
    <div class="form-group">
      <label for="uf" class="control-label">UF</label>
      <select
        class="form-control"
        formControlName="uf"
      >
        <option *ngFor="let uf of ufs" [ngValue]="uf">{{ uf }}</option>
      </select>
    </div>
    <button id="btn-submit" class="btn btn-primary pull-right" type="submit">Salvar</button>
  </form>
</div>
